In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("C:/Users/SMuralidhar/Documents/Python Scripts/titanic.csv")

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
# survive
#0 means passed away
#1 means alive

In [11]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
# here independent variable are 'Pclass', sex, Age and fare

In [14]:
df1=df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [15]:
df1.head(2)

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833

In [16]:
# here survied or not is dependent varibale, hence we will remove the same.

In [17]:
df1.drop('Survived',axis='columns',inplace=True)

In [19]:
df1.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [20]:
df1.head(50)

    Pclass     Sex   Age      Fare
0        3    male  22.0    7.2500
1        1  female  38.0   71.2833
2        3  female  26.0    7.9250
3        1  female  35.0   53.1000
4        3    male  35.0    8.0500
5        3    male   NaN    8.4583
6        1    male  54.0   51.8625
7        3    male   2.0   21.0750
8        3  female  27.0   11.1333
9        2  female  14.0   30.0708
10       3  female   4.0   16.7000
11       1  female  58.0   26.5500
12       3    male  20.0    8.0500
13       3    male  39.0   31.2750
14       3  female  14.0    7.8542
15       2  female  55.0   16.0000
16       3    male   2.0   29.1250
17       2    male   NaN   13.0000
18       3  female  31.0   18.0000
19       3  female   NaN    7.2250
20       2    male  35.0   26.0000
21       2    male  34.0   13.0000
22       3  female  15.0    8.0292
23       1    male  28.0   35.5000
24       3  female   8.0   21.0750
25       3  female  38.0   31.3875
26       3    male   NaN    7.2250
27       1    male  19.0  263.0000
28       3  female   NaN    7.8792
29       3    male   NaN    7.8958
30       1    male  40.0   27.7208
31       1  female   NaN  146.5208
32       3  female   NaN    7.7500
33       2    male  66.0   10.5000
34       1    male  28.0   82.1708
35       1    male  42.0   52.0000
36       3    male   NaN    7.2292
37       3    male  21.0    8.0500
38       3  female  18.0   18.0000
39       3  female  14.0   11.2417
40       3  female  40.0    9.4750
41       2  female  27.0   21.0000
42       3    male   NaN    7.8958
43       2  female   3.0   41.5792
44       3  female  19.0    7.8792
45       3    male   NaN    8.0500
46       3    male   NaN   15.5000
47       3  female   NaN    7.7500
48       3    male   NaN   21.6792
49       3  female  18.0   17.8000

In [21]:
df1.columns

Index(['Pclass', 'Sex', 'Age', 'Fare'], dtype='object')

In [22]:
df1['Age']=df1['Age'].fillna(df1['Age'].median())

In [23]:
df1['Age'].median()

28.0

In [24]:
df1.head(10)

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500
5       3    male  28.0   8.4583
6       1    male  54.0  51.8625
7       3    male   2.0  21.0750
8       3  female  27.0  11.1333
9       2  female  14.0  30.0708

In [25]:
df1.head(3)

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250

In [27]:
from sklearn.preprocessing import LabelEncoder
Sex_le=LabelEncoder()
df1['Sex_LE']=Sex_le.fit_transform(df1['Sex'])

In [33]:
df1.head(5)

   Pclass   Age     Fare  Sex_LE
0       3  22.0   7.2500       1
1       1  38.0  71.2833       0
2       3  26.0   7.9250       0
3       1  35.0  53.1000       0
4       3  35.0   8.0500       1

In [30]:
df1.drop('Sex',axis='columns',inplace=True)

In [32]:
df1.head(4)

   Pclass   Age     Fare  Sex_LE
0       3  22.0   7.2500       1
1       1  38.0  71.2833       0
2       3  26.0   7.9250       0
3       1  35.0  53.1000       0

In [34]:
x=df1
y=df['Survived']

In [35]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [36]:
y.isnull().sum()

0

In [38]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=10)

In [41]:
len(xtest)

179

In [43]:
from sklearn import tree

In [44]:
model_survived=tree.DecisionTreeClassifier()

In [45]:
model_survived.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [46]:
model_survived.predict(xtest)

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [47]:
ytest

590    0
131    0
628    0
195    1
230    1
      ..
456    0
191    0
603    0
94     0
766    0
Name: Survived, Length: 179, dtype: int64

In [49]:
model_survived.score(xtest,ytest)

0.8156424581005587